.grid {
  @include displeyProperty(grid);
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  padding: {
    top: 3rem;
    bottom: 2rem;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1080px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
