$aqua: #00ffff;
$aquaDark: #009c8f;
$black: #000000;
$white: #ffffff;
$lightBorder: 1px solid rgba(255, 255, 255, 0.281);
$transparent: 1px solid transparent;
$timeWay: 0.4s ease-in-out;
$bodyClr: rgba(0, 0, 0, 0.774);
