$whiteColor: #fff;

// Font Families
$fontFamily: "Raleway", sans-serif;
$headingFont: "Merriweather", serif;

// Box Shadow
$boxShadow: rgba(50, 100, 255, 0.1) 0px 10px 15px -3px,
  rgba(50, 100, 255, 0.05) 0px 4px 6px -2px;

$lightWhite: #ffffffc4;
$navLinkBgColor: rgba(128, 128, 255, 0.562);
$btnBgColor: rgba(128, 128, 255, 0.562);
$lightBlack: rgba(0, 0, 0, 0.555);
$lightAqua: rgb(56, 199, 255);
$borderRadius3: 0.35rem;
